body.page-template-calendar {

	section#main {
		padding: 40px 0 120px 0;

		.wrapper {
			max-width: 800px;
		}
	}	

	section.section-header {
		padding: 0 0 80px 0;

		h1 {
			color: $claret;
		}

		.copy {
			padding-top: 20px;
			font-size: 1.125em;
			line-height: 1.5em;
		}
	}

	section.events {

		& + section.events {
			padding-top: 150px;
		}

		.events-header  {
			padding-bottom: 40px;
			text-align: center;


			h2 {
				color: $charcoal;
				font-weight: bold;
				font-size: 0.875em;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				display: inline-block;

			}
		}

		.event {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			@include tablet-portrait {
				justify-content: space-between;
				align-items: flex-start;
			}
			

			& + .event {
				margin-top: 50px;
				border-top: 1px solid $gray;
				padding-top: 50px;
			}

			.date {
				width: 60px;
				margin-right: 25px;
				text-align: center;

				span {
					display: block;

					&.month {
						font-size: 0.875em;
						letter-spacing: 0.05em;
						text-transform: uppercase;
						padding-bottom: 5px;
						color: $claret;
						font-weight: bold;
						padding-top: 4px;
					}

					&.day {
						font-size: 1.75em;
						color: $claret;
					}

					&.day-of-the-week {
						font-size: 1em;
						font-style: italic;
						padding-top: 3px;
						color: $charcoal;
					}
				}
			}

			.photo {
				max-width: 100px;
				margin-right: 25px;

				@include tablet-portrait {
					max-width: 200px;
				}
			}

			.info {
				width: 100%;
				padding-top: 25px;
				text-align: center;

				@include tablet-portrait {
					flex: 1;
					padding-top: 0;
					width: auto;
					text-align: left;
				}

				.headline {
					h3 {
						color: $claret;
						font-size: 1.75em;
					}

					h4.time {
						padding-top: 5px;
						font-weight: bold;
						color: $charcoal;
					}

					h4.cost {
						padding-top: 15px;
						font-weight: bold;
						color: $evergreen;
					}
				}

				.description {
					padding-top: 20px;
					max-width: 600px;

					p {
						line-height: 1.5em;
					}
				}

				.cta {
					padding-top: 20px;
					a {
						color: $claret;
					}
				}
			}


		}

		&.weekly-events {
			.event {
				.date {
					.day-of-the-week {
						padding-top: 8px;
					}
				}
			}
		}

	}

}