.header-bg {


}

header {
	background: transparent;
	padding-bottom: 40px;

	@include tablet-portrait {
		padding-bottom: 0;
	}

	.header-wrapper {
		border-color: $claret;
		border-width: 1px;
	}

	.info {
		text-transform: lowercase;
		color: $slate;

		h3 {
			font-weight: 500;
			font-size: 1em;
			letter-spacing: 0.1em;
			font-family: $mrs-eaves;
			color: $evergreen;
		}

		p {
			font-size: 0.875em;
			font-style: normal;
			line-height: 2em;
		}
	}

}

nav.desktop {
	background: transparent;

	.main-nav {
		a {
			color: $claret;
			font-size: 0.875em;
			font-weight: 400;
			font-family: $mrs-eaves;
			letter-spacing: 0.2em;

			&:hover {
				color: $claret;
			}
		}
	}


}

nav.mobile {

	.main-nav {

		a {
			color: $claret;
			font-size: 1em;
			font-weight: 400;
			padding: 20px 0;
			display: block;
			letter-spacing: 0.2em;
		}

		@include tablet-portrait {
			display: flex;
			justify-content: center;

			a {
				padding: 0;

				&:after {
					content: "·";
					display: inline-block;
					padding: 0 30px;
				}

				&:last-of-type {
					&:after {
						display: none;
					}
				}
			}
		}

	}
}


section.call-to-actions {
	background: transparent;
	padding-bottom: 40px;
	font-family: $mrs-eaves;

	.btn {
		a {
			border-color: $evergreen;
			color: $evergreen;
			border-radius: 5px;
			text-transform: none;
			letter-spacing: 0.02em;
			font-size: 1em;
			padding: 13px 20px 12px;
			font-weight: normal;
			font-style: italic;


			&:hover {
				background: $evergreen;
				color: $white;
			}
		}
	}

	.text {
		@include tablet-portrait {
			width: 100%;
			padding: 25px 0;
		}

		@include tablet-landscape {
			width: auto;
			padding: 0 25px;
		}

		p {
			color: $claret;
			font-style: italic;
			letter-spacing: 0.02em;
		}
	}
}


#toggle {

	.patty {
	    background: $claret;

		&:after, &:before {
		    background: $claret;
		}

	}
}