body.page-template-default {

	section.standard {
		padding: 40px 0;

		@include tablet-portrait {
			padding: 80px 0;
		}

		.wrapper {
			max-width: 960px;
		}

		.section-header {
			padding: 0 0 40px 0;
		}

		.section-body {

			h3 {
				font-weight: bold;
				font-size: 1.375em;
				font-family: $mrs-eaves;
				padding: 0 0 10px 0;

				@include tablet-portrait {
					font-size: 1.5em;
				}
			}

			p {
				font-weight: 100;
				font-size: 1em;
				line-height: 1.5em;
				padding: 0 0 40px 0;
				font-family: $mrs-eaves;

				@include tablet-portrait {
					font-size: 1.25em;
				}
			}
		}


	}


	

}

