body {
	background: $cream url(images/bg-texture.jpg) repeat center center;
}

.section-header {
	padding: 0 0 40px 0;
	text-align: center;

	h1 {
		font-size: 2em;
		font-style: italic;

		&:after {
			content: '';
			display: block;
			width: 40px;
			height: 1px;
			background: $slate;
			margin: 20px auto 0 auto;
		}
		
		@include tablet-portrait {
			font-size: 3em;
		}
	}
}
