body, input, textarea {
	color: $slate;
	font: 400 100%/1 $sabon;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-family: $sabon;
}

a {
	color: $slate;
	transition: all 0.2s ease-in-out;
}



.section-header h1 {
	color: $evergreen;

	&:after {
		background: $evergreen;
	}
}