/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #4a4a4a;
$slate: #2a2a2a;
$black: #000;


$claret: #A12744;
$cream: #F0E6D0;
$gray: #B5ADA4;
$spruce: #9ABDAB;
$evergreen: #535335;



/* Typography
----------------------------------*/
@font-face {
    font-family: 'Sabon';
    src: url('fonts/sabon-bold.woff2') format('woff2'),
         url('fonts/sabon-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sabon';
    src: url('fonts/sabon-italic.woff2') format('woff2'),
         url('fonts/sabon-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Sabon';
    src: url('fonts/sabon-roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$sabon: 'Sabon', sans-serif;
$mrs-eaves: 'mrs-eaves', serif;
