@charset "UTF-8";
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@font-face {
  font-family: 'Sabon';
  src: url("fonts/sabon-bold.woff2") format("woff2"), url("fonts/sabon-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Sabon';
  src: url("fonts/sabon-italic.woff2") format("woff2"), url("fonts/sabon-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Sabon';
  src: url("fonts/sabon-roman.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Media Queries
----------------------------------*/
/* Selection  */
::-moz-selection {
  background: #A12744;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #A12744;
  color: #fff;
  text-shadow: none; }

body {
  background: #F0E6D0 url(images/bg-texture.jpg) repeat center center; }

.section-header {
  padding: 0 0 40px 0;
  text-align: center; }
  .section-header h1 {
    font-size: 2em;
    font-style: italic; }
    .section-header h1:after {
      content: '';
      display: block;
      width: 40px;
      height: 1px;
      background: #2a2a2a;
      margin: 20px auto 0 auto; }
    @media screen and (min-width: 768px) {
      .section-header h1 {
        font-size: 3em; } }

body, input, textarea {
  color: #2a2a2a;
  font: 400 100%/1 "Sabon", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Sabon", sans-serif; }

a {
  color: #2a2a2a;
  transition: all 0.2s ease-in-out; }

.section-header h1 {
  color: #535335; }
  .section-header h1:after {
    background: #535335; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
header {
  background: transparent;
  padding-bottom: 40px; }
  @media screen and (min-width: 768px) {
    header {
      padding-bottom: 0; } }
  header .header-wrapper {
    border-color: #A12744;
    border-width: 1px; }
  header .info {
    text-transform: lowercase;
    color: #2a2a2a; }
    header .info h3 {
      font-weight: 500;
      font-size: 1em;
      letter-spacing: 0.1em;
      font-family: "mrs-eaves", serif;
      color: #535335; }
    header .info p {
      font-size: 0.875em;
      font-style: normal;
      line-height: 2em; }

nav.desktop {
  background: transparent; }
  nav.desktop .main-nav a {
    color: #A12744;
    font-size: 0.875em;
    font-weight: 400;
    font-family: "mrs-eaves", serif;
    letter-spacing: 0.2em; }
    nav.desktop .main-nav a:hover {
      color: #A12744; }

nav.mobile .main-nav a {
  color: #A12744;
  font-size: 1em;
  font-weight: 400;
  padding: 20px 0;
  display: block;
  letter-spacing: 0.2em; }

@media screen and (min-width: 768px) {
  nav.mobile .main-nav {
    display: flex;
    justify-content: center; }
    nav.mobile .main-nav a {
      padding: 0; }
      nav.mobile .main-nav a:after {
        content: "·";
        display: inline-block;
        padding: 0 30px; }
      nav.mobile .main-nav a:last-of-type:after {
        display: none; } }

section.call-to-actions {
  background: transparent;
  padding-bottom: 40px;
  font-family: "mrs-eaves", serif; }
  section.call-to-actions .btn a {
    border-color: #535335;
    color: #535335;
    border-radius: 5px;
    text-transform: none;
    letter-spacing: 0.02em;
    font-size: 1em;
    padding: 13px 20px 12px;
    font-weight: normal;
    font-style: italic; }
    section.call-to-actions .btn a:hover {
      background: #535335;
      color: #fff; }
  @media screen and (min-width: 768px) {
    section.call-to-actions .text {
      width: 100%;
      padding: 25px 0; } }
  @media screen and (min-width: 1024px) {
    section.call-to-actions .text {
      width: auto;
      padding: 0 25px; } }
  section.call-to-actions .text p {
    color: #A12744;
    font-style: italic;
    letter-spacing: 0.02em; }

#toggle .patty {
  background: #A12744; }
  #toggle .patty:after, #toggle .patty:before {
    background: #A12744; }

section#careers {
  background: #535335; }
  section#careers h2 {
    font-family: "mrs-eaves", serif;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.05em;
    font-size: 1.5em; }
    @media screen and (min-width: 768px) {
      section#careers h2 {
        transform: translateY(-3px);
        width: 33.3333%; }
        section#careers h2 span {
          display: inline; } }
    @media screen and (min-width: 1024px) {
      section#careers h2 {
        width: auto;
        margin: 0 20px 0 0; } }
  section#careers p {
    font-size: 0.9375em;
    font-style: italic; }

section#comment-card .header h3 {
  font-size: 2.5em;
  color: #535335; }

section#comment-card .header p {
  font-size: 0.875em; }

section#comment-card .form label {
  font-size: 0.8125em;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #535335; }
  section#comment-card .form label.wpforms-field-sublabel {
    letter-spacing: 0;
    color: #535335; }

section#comment-card .form div.wpforms-container-full .wpforms-form .wpforms-field-description {
  font-size: 0.875em; }

section#comment-card .form div.wpforms-container-full .wpforms-form .wpforms-required-label {
  color: #A12744; }

section#comment-card .form div.wpforms-container-full .wpforms-form button[type=submit] {
  border-radius: 2px;
  padding: 14px 20px 11px 20px;
  color: #fff;
  background: #535335;
  border: none;
  font-family: "mrs-eaves", serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.875em; }

body.page-template-default section.standard {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-default section.standard {
      padding: 80px 0; } }
  body.page-template-default section.standard .wrapper {
    max-width: 960px; }
  body.page-template-default section.standard .section-header {
    padding: 0 0 40px 0; }
  body.page-template-default section.standard .section-body h3 {
    font-weight: bold;
    font-size: 1.375em;
    font-family: "mrs-eaves", serif;
    padding: 0 0 10px 0; }
    @media screen and (min-width: 768px) {
      body.page-template-default section.standard .section-body h3 {
        font-size: 1.5em; } }
  body.page-template-default section.standard .section-body p {
    font-weight: 100;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 0 40px 0;
    font-family: "mrs-eaves", serif; }
    @media screen and (min-width: 768px) {
      body.page-template-default section.standard .section-body p {
        font-size: 1.25em; } }

section#heavy-at-home .overlay {
  background: rgba(83, 83, 53, 0.75); }
  section#heavy-at-home .overlay-wrapper {
    border: 5px solid #535335;
    background: #F0E6D0; }

section#heavy-at-home .info .headline h1 {
  color: #A12744;
  text-transform: none;
  font-style: italic; }

section#heavy-at-home .info .copy p {
  font-family: "Sabon", sans-serif; }
  @media screen and (min-width: 768px) {
    section#heavy-at-home .info .copy p {
      font-size: 1.5rem; } }
  section#heavy-at-home .info .copy p a {
    color: #535335; }

section#heavy-at-home .info .cta .btn {
  color: #A12744; }
  section#heavy-at-home .info .cta .btn:hover {
    background: #A12744;
    border-color: #A12744; }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.home section#hero {
  position: relative; }
  body.home section#hero:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  body.home section#hero > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media screen and (min-width: 568px) {
    body.home section#hero {
      position: relative;
      max-height: 600px; }
      body.home section#hero:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 34.02778%; }
      body.home section#hero > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }

body.home section#main {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  @media screen and (min-width: 1280px) {
    body.home section#main {
      margin: 0 auto;
      max-width: 1600px;
      padding: 75px 0;
      align-items: flex-start; } }
  body.home section#main section#info {
    order: -1;
    padding: 0 25px 50px 25px; }
    @media screen and (min-width: 768px) {
      body.home section#main section#info {
        order: 2;
        flex: 1;
        padding: 0 50px; } }
    @media screen and (min-width: 1024px) {
      body.home section#main section#info {
        max-width: 420px; } }
    @media screen and (min-width: 1280px) {
      body.home section#main section#info {
        padding: 50px 0 0 50px; } }
    body.home section#main section#info .description h3 {
      padding: 0 0 20px 0;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: #535335; }
    body.home section#main section#info .description .copy {
      padding: 20px 0;
      border-top: 1px solid #A12744;
      border-bottom: 1px solid #A12744; }
    body.home section#main section#info .description p {
      font-size: 1.5em;
      line-height: 1.75em; }
      @media screen and (min-width: 768px) {
        body.home section#main section#info .description p {
          font-size: 1.25em; } }
  body.home section#main .next-door.desktop {
    display: none; }
    @media screen and (min-width: 768px) {
      body.home section#main .next-door.desktop {
        display: block;
        padding: 50px 0 0 0; } }
  body.home section#main .next-door.mobile {
    display: block;
    margin: 50px 25px 0 25px;
    width: 100%; }
    body.home section#main .next-door.mobile .thackeray {
      width: 100%; }
    @media screen and (min-width: 768px) {
      body.home section#main .next-door.mobile {
        display: none; } }
  body.home section#main .next-door-info {
    padding: 25px;
    border: 1px solid #2a2a2a;
    border-radius: 10px; }
    body.home section#main .next-door-info .graphics {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0 0 0; }
      @media screen and (min-width: 768px) {
        body.home section#main .next-door-info .graphics {
          justify-content: space-between; } }
      body.home section#main .next-door-info .graphics a {
        display: block; }
      body.home section#main .next-door-info .graphics .logo img {
        width: 100%;
        max-width: 250px; }
    body.home section#main .next-door-info .copy p {
      font-size: 1.125em;
      line-height: 1.5em;
      font-style: italic; }
      body.home section#main .next-door-info .copy p a {
        text-decoration: underline; }
  @media screen and (min-width: 768px) {
    body.home section#main section#photos {
      order: 1;
      width: 50%;
      max-width: 900px; } }
  @media screen and (min-width: 1024px) {
    body.home section#main section#photos {
      width: 66.6667%;
      max-width: 800px; } }
  body.home section#main section#photos .gallery {
    display: flex;
    flex-wrap: wrap; }
    body.home section#main section#photos .gallery .col-2 {
      width: 49.25%; }
    body.home section#main section#photos .gallery .col-1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 5px; }
      @media screen and (min-width: 568px) {
        body.home section#main section#photos .gallery .col-1 {
          margin-top: 12px; } }
    body.home section#main section#photos .gallery .wide {
      display: block; }

body.page-template-hours section.standard {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-hours section.standard {
      padding: 80px 0; } }
  body.page-template-hours section.standard .wrapper {
    max-width: 400px; }
    @media screen and (min-width: 768px) {
      body.page-template-hours section.standard .wrapper {
        max-width: 600px; } }
    @media screen and (min-width: 1024px) {
      body.page-template-hours section.standard .wrapper {
        max-width: 400px;
        padding: 0; } }
  body.page-template-hours section.standard .section-header {
    padding: 0 0 40px 0; }
  body.page-template-hours section.standard .section-body .hours {
    text-align: center; }
    body.page-template-hours section.standard .section-body .hours h3 {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 0.875em;
      line-height: 1.25em;
      font-weight: bold;
      padding: 0 0 10px 0; }
    body.page-template-hours section.standard .section-body .hours p {
      font-weight: 100;
      font-size: 1.25em;
      line-height: 1.25em;
      padding: 0 0 40px 0; }
      @media screen and (min-width: 768px) {
        body.page-template-hours section.standard .section-body .hours p {
          font-size: 1.75em; } }
      body.page-template-hours section.standard .section-body .hours p:last-of-type {
        padding: 0; }

body.page-template-gallery .jp-carousel-info {
  display: none; }

body.page-template-gallery .jp-carousel-overlay {
  opacity: 0.98 !important; }

body.page-template-gallery .jp-carousel-close-hint span {
  font-size: 48px !important;
  height: 48px; }

body.page-template-gallery section.gallery {
  padding: 40px 0; }
  body.page-template-gallery section.gallery .section-header {
    padding: 0 0 40px 0; }
    body.page-template-gallery section.gallery .section-header h1 {
      font-weight: normal;
      font-size: 2em;
      border-bottom: 4px solid;
      padding: 0 0 5px 0;
      display: inline-block;
      text-align: center; }
      @media screen and (min-width: 768px) {
        body.page-template-gallery section.gallery .section-header h1 {
          font-size: 3em; } }

body.page-template-menu .menu-item .info {
  padding: 15px 0 0 0; }
  body.page-template-menu .menu-item .info a.title {
    font-size: 1.25em; }

body.page-template-location section.location {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-location section.location {
      padding: 80px 0; } }
  body.page-template-location section.location .section-header {
    padding: 0 0 40px 0;
    text-align: left; }
    body.page-template-location section.location .section-header h1 {
      color: #A12744; }
      body.page-template-location section.location .section-header h1:after {
        margin: 20px 0 0 0; }
  body.page-template-location section.location .section-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body.page-template-location section.location .section-body .info {
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .info {
          width: 40%; } }
      body.page-template-location section.location .section-body .info h3 {
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 0.875em;
        line-height: 1.25em;
        font-weight: bold;
        padding: 0 0 5px 0; }
        @media screen and (min-width: 768px) {
          body.page-template-location section.location .section-body .info h3 {
            max-width: 420px; } }
      body.page-template-location section.location .section-body .info p {
        font-weight: 100;
        font-size: 1.25em;
        line-height: 1.25em;
        padding: 0 0 40px 0; }
        @media screen and (min-width: 768px) {
          body.page-template-location section.location .section-body .info p {
            font-size: 1.25em; } }
        body.page-template-location section.location .section-body .info p:last-of-type {
          padding: 0; }
        body.page-template-location section.location .section-body .info p a {
          color: #2a2a2a; }
          body.page-template-location section.location .section-body .info p a:hover {
            text-decoration: underline; }
    body.page-template-location section.location .section-body .photo {
      width: 100%;
      padding-top: 20px; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .photo {
          width: 60%;
          padding: 0; } }
    body.page-template-location section.location .section-body .map {
      padding: 20px 0 0 0;
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .map {
          padding: 40px 0 0 0; } }

body.error404 section#main {
  padding: 50px 0;
  min-height: 100vh; }
  @media screen and (min-width: 768px) {
    body.error404 section#main {
      min-height: 75vh;
      padding: 75px 0; } }
  body.error404 section#main h2 {
    font-size: 3.5em;
    padding: 0 0 25px 0; }
    @media screen and (min-width: 768px) {
      body.error404 section#main h2 {
        font-size: 5em; } }
  body.error404 section#main p {
    font-size: 1.5em; }

body.page-template-calendar section#main {
  padding: 40px 0 120px 0; }
  body.page-template-calendar section#main .wrapper {
    max-width: 800px; }

body.page-template-calendar section.section-header {
  padding: 0 0 80px 0; }
  body.page-template-calendar section.section-header h1 {
    color: #A12744; }
  body.page-template-calendar section.section-header .copy {
    padding-top: 20px;
    font-size: 1.125em;
    line-height: 1.5em; }

body.page-template-calendar section.events + section.events {
  padding-top: 150px; }

body.page-template-calendar section.events .events-header {
  padding-bottom: 40px;
  text-align: center; }
  body.page-template-calendar section.events .events-header h2 {
    color: #4a4a4a;
    font-weight: bold;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: inline-block; }

body.page-template-calendar section.events .event {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 768px) {
    body.page-template-calendar section.events .event {
      justify-content: space-between;
      align-items: flex-start; } }
  body.page-template-calendar section.events .event + .event {
    margin-top: 50px;
    border-top: 1px solid #B5ADA4;
    padding-top: 50px; }
  body.page-template-calendar section.events .event .date {
    width: 60px;
    margin-right: 25px;
    text-align: center; }
    body.page-template-calendar section.events .event .date span {
      display: block; }
      body.page-template-calendar section.events .event .date span.month {
        font-size: 0.875em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding-bottom: 5px;
        color: #A12744;
        font-weight: bold;
        padding-top: 4px; }
      body.page-template-calendar section.events .event .date span.day {
        font-size: 1.75em;
        color: #A12744; }
      body.page-template-calendar section.events .event .date span.day-of-the-week {
        font-size: 1em;
        font-style: italic;
        padding-top: 3px;
        color: #4a4a4a; }
  body.page-template-calendar section.events .event .photo {
    max-width: 100px;
    margin-right: 25px; }
    @media screen and (min-width: 768px) {
      body.page-template-calendar section.events .event .photo {
        max-width: 200px; } }
  body.page-template-calendar section.events .event .info {
    width: 100%;
    padding-top: 25px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      body.page-template-calendar section.events .event .info {
        flex: 1;
        padding-top: 0;
        width: auto;
        text-align: left; } }
    body.page-template-calendar section.events .event .info .headline h3 {
      color: #A12744;
      font-size: 1.75em; }
    body.page-template-calendar section.events .event .info .headline h4.time {
      padding-top: 5px;
      font-weight: bold;
      color: #4a4a4a; }
    body.page-template-calendar section.events .event .info .headline h4.cost {
      padding-top: 15px;
      font-weight: bold;
      color: #535335; }
    body.page-template-calendar section.events .event .info .description {
      padding-top: 20px;
      max-width: 600px; }
      body.page-template-calendar section.events .event .info .description p {
        line-height: 1.5em; }
    body.page-template-calendar section.events .event .info .cta {
      padding-top: 20px; }
      body.page-template-calendar section.events .event .info .cta a {
        color: #A12744; }

body.page-template-calendar section.events.weekly-events .event .date .day-of-the-week {
  padding-top: 8px; }
