section#heavy-at-home {

	.overlay {
		background: rgba(83, 83, 53, 0.75);
		
		&-wrapper {
			border: 5px solid $evergreen;
			background: $cream;
		}
	}

	.info {

		.headline {
			h1 {
				color: $claret;
				text-transform: none;
				font-style: italic;
			}
		}

		.copy {
			p {
				font-family: $sabon;

				@include tablet-portrait {
					font-size: 1.5rem;
				}

				a {
					color: $evergreen;
				}
			}
		}

		.cta {
			.btn {
				color: $claret;

				&:hover {
					background: $claret;
					border-color: $claret;
				}
			}
		}	
	}
}